<!-- sidebar.html -->
<div class="sidebar bg-dark text-white p-4"
     style="width: 250px; height: 100vh; position: fixed; top: 0; left: 0; z-index: 1000;">
  <ul class="nav flex-column">
    {% if user.is_authenticated %}
      <li class="nav-item mb-3">
        <p class="text-light">Welcome, <strong>{{ user.username }}</strong></p>
        <form method="post" action="{% url "logout" %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-link text-light p-0">Logout</button>
        </form>
      </li>
      <hr class="text-light">
    {% else %}
      <li class="nav-item">
        <a href="{% url "login" %}" class="nav-link text-light">Login</a>
      </li>
    {% endif %}
    <li class="nav-item">
      <a href="{% url "task:task" %}" class="nav-link text-light">
        <i class="bi bi-house-door"></i> Tasks
      </a>
    </li>
    <li class="nav-item">
      <a href="{% url "task:task-list-created" %}" class="nav-link text-light">
        <i class="bi bi-plus-circle"></i> Created tasks
      </a>
    </li>
    <li class="nav-item">
      <a href="{% url "team:team-list" %}" class="nav-link text-light">
        <i class="bi bi-person-circle"></i> Teams
      </a>
    </li>
    <li class="nav-item">
      <a href="{% url "project:project-list" %}" class="nav-link text-light">
        <i class="bi bi-briefcase"></i> Projects
      </a>
    </li>
  </ul>
</div>
