{% extends "base.html" %}

{% block content %}
  <h1>My tasks</h1>

  <div class="mb-4">
    <a href="{% url 'task:task' %}" class="btn btn-primary {% if not filter_type %}active{% endif %}">All</a>
    <a href="{% url 'task:task' %}?filter=not_completed" class="btn btn-primary {% if filter_type == 'not_completed' %}active{% endif %}">Uncompleted</a>
    <a href="{% url 'task:task' %}?filter=completed" class="btn btn-primary {% if filter_type == 'completed' %}active{% endif %}">Completed</a>
  </div>

  <div>
    {% if filter_type == 'completed' %}
      <h3>Competed tasks</h3>
        {% include "includes/task.html" %}
    {% elif filter_type == 'not_completed' %}
      <h3>Uncompleted tasks</h3>
        {% include "includes/task.html" %}
    {% else %}
      <h3>All tasks</h3>
        {% include "includes/task.html" %}
    {% endif %}
  </div>
{% endblock %}